.topbar {
  height: 64px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #E0E0E0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 19px 0px 0px 21px;
  font-family: 'IBM Plex Sans';
}


.left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.app-name {
  font-size: 16px;
  font-weight: 500;
  color: #1D1D1B;
  margin-right: 10px;
}

.site {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #525252;
  cursor: pointer;
}


.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #525252;
  padding: 0;
}

.language {
  font-size: 12px;
  padding: 4px 8px;
  background: #F4F4F4;
  border-radius: 4px;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #0F62FE;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  font-size: 14px;
  color: #1D1D1B;
}
.site-select {
  width: 159px;
}


.site-select .mat-mdc-text-field-wrapper {
  height: 36px;
  border-radius: 8px;
  padding: 0; 
}


.site-select .mat-mdc-form-field-flex {
  height: 36px;
  padding: 0 8px; 
  align-items: center;
  gap: 8px;
}


.site-select .mat-mdc-select-value {
  font-size: 14px;
  line-height: 20px;
}


.site-select .mat-mdc-select-arrow {
  margin-left: 8px;
}


.site-select .mat-mdc-form-field-infix {
  padding: 0;
  min-height: auto;
}


.site-select .mdc-notched-outline {
  border-radius: 8px;
}


